[Unit]
Description=Save and Restore System Clock from the Hardware Clock
Documentation=man:hwclock(8)
DefaultDependencies=no
After=systemd-modules-load.service
Before=sysinit.target
Conflicts=shutdown.target

[Service]
ExecStart=/sbin/hwclock --hctosys
ExecStop=/sbin/hwclock --systohc
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
