[Unit]
Description=This is the main application service, that does everything.
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/teleinfo/teleinfo.sh

[Install]
WantedBy=multi-user.target
