/* style.css
 * Ici, c'est la place des attributs et des choix CSS!
 */

p
{
    color: black;
    font-size: 20px;
}

table, th, td
{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table tr:nth-child(even)
{
    background-color: #DDD;
}